h3, h4 {
  font-family: 'Dela Gothic One', cursive;
}

.log {
  height: 7rem;
}

#verzekeringen {
  background-color: #16697a;
  height: 60rem;
}

#sub-header {
  color: white;
  font-family: 'Dela Gothic One', cursive;
  padding: 3% 37% 7%;
  text-align: center;
}

.icon-style {
  text-align: center;
  font-size: 4rem;
}

.kleiner {
  font-size: 1.075rem;
}

#info {
  text-align: center;
  padding: 3% 15% 7%;
  font-size: 1.25rem;
  line-height: 2rem;
}

.info-kop {
  padding: 3% 15% 7%;
}

#info ul li {
  text-align: center;
  list-style-position: inside;
}

/*carousel*/
.text-b {
  background-color: #16697a;
  color: white;
  height: 25rem;
  padding: 3% 15% 7%;
}

.carousel-h {
  color: #cfd3ce;
  padding-bottom: 1.5rem;
}

/*Voorstellen*/

#voorstellen {
  background-color: #16697a;
  color: white;
  height: 400px;
}

.small-header {
  text-align: center;
  padding: 3% 15% 5%;
}
